# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/  # Dit is belangrijk! Negeert je virtuele omgeving
.env
.idea/ # Voor PyCharm gebruikers
*.ipynb # Jupyter notebooks (als je die hebt)
*.csv
*.xlsx

# Streamlit
.streamlit/